@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Onest Variable', sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
    color: black !important;

}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: black !important;
    font-size: 16px !important;
}


.thumb-active {
    cursor: pointer;
    border: 1px solid #ff0000;
    border-color: #ff0000;
}